{% extends 'base/base.html' %}
{% load filters %} {# the name of the file #}
{% load tags %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_content %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#HTML Nav:#}
{#<nav>#}
{#    <a href="{% url 'index' %}">Go to home</a>#}
{#    <a href="{% url 'redirect to home' %}">Redirect to home</a>#}
{#</nav>#}
{##}
{#Tag Nav:#}
{#{% app_nav 'index' 'redirect to home' 'about' %}#}
{#{% app_nav 'index' 'redirect to home' 'redirect to home' 'redirect to home' %}#}

<div>
    Original: {{ values }}
</div>

<div>
    Odd values (custom filter): {{ values|odd }} {# odd is the name of the filter #}
</div>

<div>
    Custom simple tag "student_info": {% student_info student %}
</div>

<div>
    Custom simple tag "sample_tag" (without parameters): {% sample_tag %}
</div>
<div>
    Custom simple tag "sample_tag" (args): {% sample_tag 17 'Doncho' True %}
</div>
<div>
    Custom simple tag "sample_tag" (kwargs): {% sample_tag department='Engineering' company='SoftUni' %}
</div>

CSRF token: {{ csrf_token }}
<div>
CSRF token as tag (it is hidden): {% csrf_token %}
</div>


<h1>
    Original- {{ title }}: {{ value }}
</h1>
<h1>
    Upper- {{ title|upper }}: {{ value }}
</h1>
<h1>
    Capfirst- {{ title|capfirst }}: {{ value }}
</h1>
<h1>
    <!-- In Python- capfirst(lower(title)) -->
    Lower then Capfirst- {{ title|lower|capfirst }}: {{ value }}
</h1>
<h1>
    Truncated 10- {{ title|truncatechars:10 }}: {{ value }}
</h1>

<h2>Original- {{ now }}</h2>
<h2>With filter- {{ now|date:'d-M-Y, H:i:s' }}</h2>
<h2>With custom filter- {{ now|app_style }}</h2>

{{ 2|add:3|add:4 }}

{{ info.address }}
<!-- in Python we access value like this: info['address'] -->

{{ student.get_info }}
{{ student_info }}

<div>
    {% if students %}
        {{ students|join:', ' }}
    {% else %}
        No students
    {% endif %}
</div>

<h3>Pure "for"</h3>
<ul class="list-group">
    {% for student in students %}
        <li class="list-group-item">{{ student }}</li>
    {% empty %}
        <li class="list-group-item">No students</li>
    {% endfor %}
</ul>

<h3>"for" with "ifchanged"</h3>
<ul>
    {% for student in students %}
        {% ifchanged student %}
            <li>{{ student }}</li>
        {% endifchanged %}
    {% endfor %}
</ul>

<!-- This is pure/ native HTML comment -->

{# this is comment #}
{# To comment use Ctrl+/ #}

{% comment %}
This is a
multi-line
comment
{% endcomment %}

{% endblock %}

{#</body>#}
{##}
{#</html>#}