nav {
    background: #CECECE;
    text-align: center;
    padding: 1px;
    width: 100%;
}

nav li {
    display: inline-block;
    padding: 3px 10px;
}

nav li a {
    color: #3A8B15;
    text-decoration: none;
    padding: 10px 15px; 
}

nav li a:hover {
    background: #3A8B15;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
