{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static '/images/library.jpg' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Online Books Library</title>
</head>

<body>
<div id="container">
    <header id="site-header">

        <!-- Navigation -->
        <nav class="navbar">
            <section class="navbar-dashboard">
                <a href="{% url 'home page' %}">Dashboard</a>
                <div id="user">
                    <span>Welcome, {{ profile.first_name }}</span>
                    <a class="button" href="{% url 'add book' %}">Add Book</a>
                    <a class="button" href="{% url 'profile page' %}">Profile</a>
                </div>
            </section>
        </nav>
    </header>

    <!-- Dashboard Page-->
    <section id="dashboard-page" class="dashboard">
        <h1>Dashboard</h1>
        <!-- Display paragraph: If the user doesn't have any books  -->
        {% if not books %}
            <p class="no-books">No books in database!</p>
            <!-- Display ul: with list-items for every books if any -->
        {% else %}
            <ul class="my-books-list">
                {#                <li class="myBooks">#}
                {#                    <h3>A Court of Thorns...</h3>#}
                {#                    <p>Type: Fiction</p>#}
                {#                    <p class="img"><img src="https://images-na.ssl-images-amazon.com/images/I/81Z-yHX8OcL.jpg" alt="">#}
                {#                    </p>#}
                {#                    <a class="button" href="#">Details</a>#}
                {#                </li>#}
                {##}
                {#                <li class="myBooks">#}
                {#                    <h3>Outlander</h3>#}
                {#                    <p>Type: Other</p>#}
                {#                    <p class="img"><img src="https://images-na.ssl-images-amazon.com/images/I/71pjU7wfZFL.jpg" alt="">#}
                {#                    </p>#}
                {#                    <a class="button" href="#">Details</a>#}
                {#                </li>#}
                {##}
                {#                <li class="myBooks">#}
                {#                    <h3>War and Peace</h3>#}
                {#                    <p>Type: Philosophy</p>#}
                {#                    <p class="img"><img src="https://images-na.ssl-images-amazon.com/images/I/A1aDb5U5myL.jpg" alt="">#}
                {#                    </p>#}
                {#                    <a class="button" href="#">Details</a>#}
                {#                </li>#}

                {% for book in books %}
                    <li class="myBooks">
                        <h3>{{ book.title }}</h3>
                        <p>Type: {{ book.type }}</p>
                        <p class="img"><img src="{{ book.image }}"
                                            alt="{{ book.title }}">
                        </p>
                        <a class="button"
                           href="{% url 'book details' book_id=book.pk %}">Details</a>
                    </li>
                    {% if forloop.counter|divisibleby:3 %}
                        </ul>
                        <ul class="my-books-list">
                    {% endif %}
                {% endfor %}

{#                <table>#}
{#                    <tr>#}
{#                        {% for book in books %}#}
{#                            {% if forloop.counter0|divisibleby:3 %}#}
{#                                </tr>#}
{#                                <tr>#}
{#                                <td>#}
{#                                    <li class="myBooks">#}
{#                                        <h3>{{ book.title }}</h3>#}
{#                                        <p>Type: {{ book.type }}</p>#}
{#                                        <p class="img"><img src="{{ book.image }}"#}
{#                                                            alt="{{ book.title }}">#}
{#                                        </p>#}
{#                                        <a class="button" href="{% url 'book details' book_id=book.pk %}">Details</a>#}
{#                                    </li>#}
{#                                </td>#}
{#                            {% else %}#}
{#                                <td>#}
{#                                    <li class="myBooks">#}
{#                                        <h3>{{ book.title }}</h3>#}
{#                                        <p>Type: {{ book.type }}</p>#}
{#                                        <p class="img"><img src="{{ book.image }}"#}
{#                                                            alt="{{ book.title }}">#}
{#                                        </p>#}
{#                                        <a class="button" href="{% url 'book details' book_id=book.pk %}">Details</a>#}
{#                                    </li>#}
{#                                </td>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                        </tr>#}
{#                </table>#}

            </ul>
        {% endif %}
    </section>

    <footer id="site-footer">
        <p>Python Web Basics Retake Exam @SoftUni</p>
    </footer>
</div>
</body>

</html>
